{% extends "base.html" %}

{%  block scripts %}
{% endblock %}

{%  block styles %}
{% endblock %}

{% macro render_field(field) %}
  {% if field.errors %}
    <dd>{{ field()  }}
    {% for error in field.errors %}
    <dt>{{ error }}</dt>
    {% endfor %}
  {% else %}
    <dd>{{ field(**kwargs)|safe  }}
  {% endif %}
  </dd>
{% endmacro %}

{% block content %}
    <div id="content">

        <div class="page-header">Настройки / Пользователи / Редактирование </div>

        <div class="row">
            <div class="col-md-4" style="text-align: center">
                <div>
                    <h4>Фотография сотрудника</h4>
                    <img class="img-thumbnail" src="{{ url_for('static', filename='img/photo/') }}{{ user.gen }}.png" style="height: 200px"/>
                </div>
            </div>

            <div class="col-md-8">
                  <div class="table-responsive">
                    <table class="table">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Данные</th>
                        </tr>
                    </thead>
                    <tbody>
                    <form method="post" enctype="multipart/form-data">
                        {{ form.csrf_token }}
                    <tr>
                        <td>Gen сотрудника</td>
                        <td>{{ form.gen(value=user.gen, readonly=true, class="form-control") }}</td>
                    </tr>
                    <tr>
                        <td>Учетная запись</td>
                        <td>{{ render_field(form.login, value=user.login, class="form-control") }}</td>
                    </tr>
                    <tr>
                        <td>Фамилия Имя Отчество</td>
                        <td>{{ render_field(form.full_name, value=user.full_name, class="form-control") }}</td>
                    </tr>
                    <tr>
                        <td>Роль</td>
                        <td>{{ render_field(form.role, class="form-control")}} </td>
                    </tr>
                    <tr>
                        <td>E-Mail</td>
                        <td>{{ render_field(form.email, value=user.email, class="form-control") }}</td>
                    </tr>
                    <tr>
                        <td>День рождения</td>
                        <td>{{ render_field(form.birthday, value=user.birthday, class="form-control") }}</td>
                    </tr>
                    <tr>
                        <td>Дата устройства</td>
                        <td>{{ render_field(form.invite_date, value=user.invite_date, class="form-control") }}</td>
                    </tr>
                    <tr>
                        <td>Статус</td>
                        <td>{{ render_field(form.status, class="form-control")}} </td>
                    </tr>
                    <tr>
                        <td>Фотография</td>
                        <td>{{ render_field(form.photo, class="")}} </td>
                    </tr>
                    <tr>
                        <td>Сбросить пароль</td>
                        <td>{{ render_field(form.reset_pw) }}</td>
                    </tr>
                    <tr>
                        <td>
                            Действие
                        </td>
                        <td>
                            <button class="btn btn-primary" type="button" onclick="location.href='{{ url_for('admin_users') }}'">Назад</button>
                            <button class="btn btn-warning" type="submit">Сохранить</button>
                        </td>
                    </tr>
                    </form>
                    </tbody>
                    </table>
                  </div>
            </div>
        </div>
    </div>


{% endblock %}