<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>SERK SMD - Система управления производством</title>
</head>
<body>
  <h1>SERK SMD - Система управления производством</h1>
  {% if error == True %}<p class=error><strong>Пользователь или GEN уже существует! Попробуйте еще...</strong>{% endif %}
 <form method="POST" action="/register" class="form">
        {{ form.csrf_token }}
        <p>Имя пользователя: {{ form.login }}</p>
        <p>GEN: {{ form.gen }}</p>
        <p>Пароль: {{ form.password }}</p>
        <p>Пароль: {{ form.confirm }}</p>
        <p>Я принимаю пользователское соглашение: {{ form.accept_tos }}</p>
        <input type="submit" value="Регистрация" class="button green">
 </form>
 <a href="{{ url_for('login') }}">Вход</a>
</body>
</html>

