{% extends "base.html" %}

{%  block scripts %}
    <script type="text/javascript" language="javascript" src="{{ url_for('static', filename='js/dataTables/jquery.dataTables.min.js') }}"></script>
    <script>
    $(document).ready(function() {
        $('#tbl_Data').DataTable();
    });
    </script>
{% endblock %}

{%  block styles %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/dataTables/jquery.dataTables.css') }}" >
{% endblock %}

{% block content %}


    <div id="content">
        <div class="page-header">Материал / Список материала</div>

        <table id="tbl_Data" class="display">
            <thead>
                <tr>
                    <th>№</th>
                    <th>Парт-номер</th>
                    <th>Производитель</th>
                    <th>Количество</th>
                    <th>Шаг</th>
                    <th>Тип материала</th>
                    <th>Действие</th>

                </tr>
            </thead>

            <tbody>
             {% for item in material_list %}
             <tr>
                 <td>{{ loop.index }}</td>
                 <td>{{ item.part }}</td>
                 <td>{{ item.vendor }}</td>
                 <td>{{ item.qty }}</td>
                 <td>{{ item.pitch }}</td>
                 <td>{{ item.type_name}}</td>
                 <td width="100px">
                     <a class="edit" href="{{url_for('material_edit', part_name=item.part)}}">Изменить</a>
                 </td>
             </tr>
             {% endfor %}
            </tbody>
        </table>
    </div>


{% endblock %}