<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{{ config.APP_NAME }}</title>

    <script type="text/javascript" language="javascript" src="{{ url_for('static', filename='js/jquery/jquery-1.11.0.min.js') }}"></script>
    <script type="text/javascript" language="javascript" src="{{ url_for('static', filename='js/bootstrap/bootstrap.min.js') }}"></script>

    <link href="{{ url_for('static', filename='css/bootstrap/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/bootstrap/bootstrap-theme.min.css') }}" rel="stylesheet">

    {% block scripts %}{% endblock %}

    {% block styles %}{% endblock %}
</head>
<body>
<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>

        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li ><a href="/">Главная</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Склад <b class="caret"></b></a>
              <ul class="dropdown-menu">
                  <li><a href="#">Прием материала</a></li>
                  <li><a href="#">Материал на складе</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Материал <b class="caret"></b></a>
              <ul class="dropdown-menu">
                  <li><a href="{{ url_for('material_add') }}">Добавление материала</a></li>
                  <li><a href="{{ url_for('material_list') }}">Список материала</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Заказ материала <b class="caret"></b></a>
              <ul class="dropdown-menu">
                  <li><a href="#">Создание заказа</a></li>
                  <li><a href="#">Выдача заказов</a></li>
                  <li><a href="#">История заказов</a></li>
              </ul>
            </li>
            {% if current_user.user_role == 0 %}
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Настройки <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="{{ url_for('admin_users_add') }}">Добавить пользователя</a></li>
                <li><a href="{{ url_for('admin_users_list') }}">Список пользователей</a></li>
              </ul>
            </li>
            {% endif %}
            <li><a href="{{ url_for('help_about') }}">Помощь</a></li>
          </ul>
        </div><!--/.nav-collapse -->
        </div>


        <div class="navbar-collapse collapse">
            <div class="navbar-form navbar-right" style="margin: 0px">
                <ul class="nav navbar-nav">
                <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Пользователь: {{ current_user.login }} <b class="caret"></b></a>
                  <ul class="dropdown-menu">
                    <li><a href="#">Информация</a></li>
                    <li><a href="{{ url_for('logout') }}">Выход</a></li>
                  </ul>
                </li>
              </ul>
            </div>
        </div>

      </div>

    </div>
    <div class="container">
      <div style="height: 30px"></div>
      {% block content %}
      {% endblock %}
      </br>
      <hr>
      <footer>
        <p>&copy; A.Kapustkin 2015</p>
      </footer>
    </div> <!-- /container -->
</body>
</html>