<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% if title %}
    <title>{{title}} - microblog</title>
    {% else %}
    <title>microblog</title>
    {% endif %}
    <script type="text/javascript" language="javascript" src="{{ url_for('static', filename='js/jquery/jquery-1.11.0.min.js') }}"></script>
    {% block scripts %}{% endblock %}
    {% block styles %}{% endblock %}
</head>
<body>
    <div>TEST TEST TEST
        <p><a href="/index">Home</a></p>
        <p>{{current_user.login}} <a href="/logout">Logout</a></p>
    </div>
    <hr>
    {% block content %}{% endblock %}
</body>
</html>